/* CSS Document */

html, body {
	height:100%;
}

body {
	margin:0; 
	padding:0;
	font-family: 'Open Sans', sans-serif;
}

#tudo { 
	width:100%;
	position:relative;  /*Contexto de posicionamento */
	margin:0 auto;
	text-align:left;
	min-height:100%; /* Altura total da pagina */
	background:url(../images/bg2.jpg);
	background-attachment:fixed;
}

* html #tudo {height: 100%;}

#topo{
	width: 100%;
	height: 120px;
}
	
#conteudo {
	padding-bottom: 310px; /* espaço deve conter o tamanho do rodapé + folga */ 
}

#areaMenu{
	width:500px;
	float:right;
	top:0;
}

.botaoMenu{
	width:80px;
	padding:15px 20px;
	background:#ffffff;
	border-left:1px solid #006313;
	border-right:1px solid #006313;
	border-bottom:10px solid #006313;
	text-decoration:none;
	font-weight:800;
	color:#006313;
}

.botaoMenu:hover{
	border-left:1px solid #a8a8a8;
	border-right:1px solid #a8a8a8;
	border-bottom:10px solid #a8a8a8;
	color:#a8a8a8 
}

.botaoMenu:active{
	border-left:1px solid #ffb400;
	border-right:1px solid #ffb400;
	border-bottom:10px solid #ffb400;
	color:#ffb400 
}

#principal {
	width:940px;
	/*max-width:1260px;*/
	padding: 10px;
	margin: 0 auto;
	/*border: 1px solid #000;*/
}


#rodape {
	background:#ffffff;
	width:100%;
	height:180px;
	position: absolute;
	bottom: 0;
	}	
	
.clear {clear:both;}

#boxRodape{
	width:280px;
	float:left;
	margin:-5px 10px;
	line-height:35px;
}

.tituloBox{
	font-weight:800;
	border-bottom:2px solid #c9c9c9;
}

.tituloPagina{
	font-size:30px;
	font-weight:800;
	border-bottom:2px solid #006313;
	color:#006313;
}

#box{
	width:410px;
	height:230px;
	border:3px solid #006313;
	background-color:#ffffff;
	float:left;
	margin:15px;
	padding:8px 12px;
}

.data{padding:15px; border:1px dotted #ff9900; background:#f1f1f1; color:#000000; font-size:22px; font-family: 'Dosis', sans-serif; font-weight:bold;}

.estadio{
	font-size:20px;
	font-weight:600;
	color:#ffb400;
	border-left:5px solid #ffb400;
	padding-left:12px;
}

.descricaoEstadio{
	font-size:13px;
	color:#cccccc;
	padding:5px 20px;
	margin-top:-25px;
}

.fotoEstadio{
	width:935px;
	height:120px;
	border:2px solid #cccccc;
}

.infoEstadio{
	font-size:15px;
	color:#cccccc;
	padding:10px 0px;
	font-weight:bold;
}

.selecao{
	padding:10px 5px;
	background-color:#f1f1f1;
}



